.app_button {
  outline: none;
  font-size: 1.5rem;
  padding: 0.7rem;
  border-radius: 0.5rem;
  color: #fdfdfd;
  border: none;
  transition: 100ms all;

  &--teal {
    background-color: $--color-teal;
    &:active {
      background-color: $--color-teal-dark;
    }
  }
}
