.app_input {
  border: none;
  outline: none;

  border-radius: 0rem;
  width: 70%;
  padding: 1.5rem 1rem;

  border: 0.1rem solid grey;

  color: #303030;
  font-size: 1.7rem;

  //   box-shadow: inset 0.3rem 0.3rem 0.5rem #303030;

  &:focus {
    // box-shadow: inset -0.3rem -0.3rem #303030;
  }
}
