.app_textarea {
  border: none;
  outline: none;

  border-radius: 0rem;
  max-width: 100%;
  min-width: 100%;
  padding: 1.5rem 1rem;

  color: $--color-black;
  font-size: 1.7rem;
  border-bottom: 0.1rem solid $--color-grey;
  border: 0.1rem solid $--color-black-light;

  &:focus {
    border: 0.1rem solid $--color-yellow;
  }

  &--full-width {
    width: 100%;
  }
}
