$--color-black: #303030;
$--color-black-light: #707070;
$--color-white: #fdfdfd;
$--color-grey: #525252;
$--color-grey-light: #c4c4c4;
$--color-teal: #0fa4b8;
$--color-teal-dark: #0a7785;
$--color-yellow: #ffcc33;
$--color-yellow-dark: #ffbf00;
$--color-red: #ea4335;
$--color-red-dark: #811411;
