.login {
  background-color: $--color-black-light;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
  width: 30vw;
  padding: 5rem 0;
  top: 30vh;

  & > button {
    margin-top: 4rem;
    width: 70%;
  }
}
